<app-login-required text="login is required to cast vote"></app-login-required>

<div *ngIf="auth.isAuthenticated$ | async" class="px-3">
  <div class="relative">
    <div *ngIf="!isLoading">
      <app-cast-multi-poll-vote *ngIf="voting.ballotType == BallotType.MULTI_POLL" [voting]="voting"></app-cast-multi-poll-vote>
      <app-cast-multi-choice-vote *ngIf="voting.ballotType == BallotType.MULTI_CHOICE" [voting]="voting"></app-cast-multi-choice-vote>
    </div>

    <app-spinner [spin]="isLoading" styles="h-8 w-8 fill-primary"></app-spinner>
  </div>
</div>
