<dialog #castVoteDialog class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <div *ngIf="voting">
      <div class="carousel">
        <div #castVoteSlide class="carousel-item w-full">
          <app-cast-vote-polls [voting]="voting" (choicesChanged)="onChoicesChanged($event)" class="w-full"></app-cast-vote-polls>
        </div>

        <div #voteDetailsSlide id="item1" class="carousel-item w-full">
          <article class="prose">
            <h3>{{ voting.title }}</h3>
            <h4>description</h4>
            <p>{{ voting.description }}</p>
          </article>
        </div>
      </div>

      <div class="flex w-full justify-center gap-2 py-2 my-3">
        <button class="btn btn-sm" (click)="castVoteSlide.scrollIntoView()">polls</button>
        <button class="btn btn-sm" (click)="voteDetailsSlide.scrollIntoView()">vote details</button>
      </div>
    </div>
  </div>
</dialog>
