<label>Funding account</label>
<div class="flex">
  <div class="grow">
    <div class="relative">
      <label class="input w-full border-e-0 rounded-e-none" [class.input-error]="!isValid && !isLoadingBalance && !isGenerating"
             [class.input-success]="isValid && !isLoadingBalance && !isGenerating">
        <input [(ngModel)]="accountSecret" [disabled]="isGenerating" type="text" placeholder="funding account secret"/>
        <span class="label">
          <ng-container *ngIf="!isLoadingBalance">balance</ng-container>
          <ng-container *ngIf="balance">: {{balance}} XLM</ng-container>
          <span *ngIf="isLoadingBalance" class="loading loading-spinner loading-xs"></span>
        </span>
      </label>
      <div *ngIf="isGenerating" class="absolute top-0 left-0 w-full h-full">
        <div class="grid place-items-center h-full">
          <div>
            <span class="loading loading-spinner loading-sm"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <button [disabled]="!isOnTestNet || isGenerating" (click)="onGenerateClicked()" class="btn rounded-s-none">generate</button>
  </div>
  <div>

  </div>
</div>
<div *ngIf="!isValid && !isLoadingBalance && !isGenerating" class="text-error">{{fundingAccountValidationMessage}}</div>

<div class="grid justify-items-end" [class.mt-4]="isValid || isLoadingBalance || isGenerating">
  <div>
    <label class="fieldset-label">
      <input [(ngModel)]="isOnTestNet" type="checkbox" checked="checked" class="toggle"/>
      on test net?
    </label>
  </div>
</div>

<span class="fieldset-label">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"/>
    </svg>
  </div>

  <div>
    This is the account that will fund the voting. Upon creating the voting the estimated cost of it will be deducted from this account. When the voting ends,
    surplus funds will be transferred back to here. <b>DO NOT USE YOUR OWN PRIVATE ACCOUNT HERE!</b> Instead create a new one,
    and transfer the estimated cost (see below) there. You can also choose to use the <a class="link"
    href="https://developers.stellar.org/docs/learn/fundamentals/networks#testnet">test net</a> if you'd rather not spend any real money first (use the toggle above).
    In this case, you can generate a funding account, and it will be pre-funded.
  </div>
</span>

<div class="mt-2">
  <label>Estimated cost</label>
  <div class="text-base"><b>{{estimatedCost}}</b> XLMs</div>
</div>

<span class="fieldset-label">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"/>
    </svg>
  </div>

  <div>
    This is the initial cost, which is a very rough estimate that guarantees the voting won't be underfunded. Most of it
    will be refunded when the voting ends. The high initial cost is due to <a class="link">minimum balance</a> on the Stellar
    network, and because organizing the voting requires the creation of temporary accounts.
  </div>
</span>
