<div *ngIf="!isLoading && votings.length == 0" class="text-center">
  nothing to see here
</div>

<div *ngIf="votings.length > 0">
  <ul class="list bg-base-100">
    <li *ngFor="let voting of votings; let i = index" class="list-row relative">
      <div routerLink="/voting/{{voting.id}}" class="list-col-grow">
        <a class="hover:underline text-lg font-bold cursor-pointer">{{ voting.title }}</a>
      </div>

      <a routerLink="/voting/{{voting.id}}" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-[1.2em]">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776"/>
        </svg>
      </a>

      <button class="btn btn-square btn-ghost" (click)="deleteVoting.onClicked(voting)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-[1.2em]">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
        </svg>
      </button>

      <div *ngIf="deleteVoting.isDeleting(voting)" class="absolute w-full h-full flex items-center justify-center bg-white opacity-60 z-10">
        <div class="loading loading-spinner loading-xs"></div>
      </div>
    </li>
  </ul>
</div>

<dialog #votingsDeleteModal class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">are you sure?</h3>

    <div class="modal-action">
      <button class="btn btn-error" (click)="deleteVoting.onYesClicked()">delete</button>
      <button class="btn btn-primary" (click)="deleteVoting.onCancelClicked()">cancel</button>
    </div>
  </div>
</dialog>
