<app-login-required text="login is required to create voting"></app-login-required>

<div *ngIf="auth.isAuthenticated$ | async" class="px-3">
  <div class="relative">
    <div>
      <div class="flex justify-center">
        <ul class="steps steps-vertical sm:steps-horizontal sm:gap-3">
          <li class="step" [class.step-primary]="currentStep >= Step.Network">Network</li>
          <li class="step" [class.step-primary]="currentStep >= Step.Funding">Funding</li>
          <li class="step" [class.step-primary]="currentStep >= Step.BasicData">Basic data</li>
          <li class="step" [class.step-primary]="currentStep >= Step.Questions">Questions</li>
        </ul>
      </div>

      <div *ngIf="currentStep == Step.Network">
        <app-select-network [form]="form"></app-select-network>
      </div>

      <div *ngIf="currentStep == Step.Funding">
        <app-funding-account-source [form]="form"></app-funding-account-source>
        <app-funding-account-balance [form]="form"></app-funding-account-balance>
      </div>

      <div *ngIf="currentStep == Step.BasicData">
        <app-voting-title [form]="form"></app-voting-title>
        <app-voting-description [form]="form"></app-voting-description>
        <div class="mt-4">
          <app-voting-token-identifier></app-voting-token-identifier>
        </div>
        <div class="mt-4">
          <app-voting-start-end-date [form]="form"></app-voting-start-end-date>
        </div>
        <div class="mt-4">
          <app-voting-encryption [form]="form"></app-voting-encryption>
        </div>
        <div class="mt-4">
          <app-votes-limit [form]="form"></app-votes-limit>
        </div>
        <div class="mt-4">
          <app-voting-visibility-and-authorization [form]="form"></app-voting-visibility-and-authorization>
        </div>
        <div class="mt-6">
          <app-voting-ballot-type [form]="form"></app-voting-ballot-type>
        </div>
        <div class="mt-4">
          <app-voting-authorization-emails [form]="form"></app-voting-authorization-emails>
        </div>
        <div class="mt-4">
          <app-voting-authorization-mode [form]="form"></app-voting-authorization-mode>
        </div>
      </div>

      <div *ngIf="currentStep == Step.Questions">
        <app-voting-questions [form]="form"></app-voting-questions>
      </div>

      <div class="flex justify-center mt-10">
        <div class="btn-group">
          <button *ngIf="shouldGoToPrevStepBeDisplayed" class="btn btn-primary" (click)="onPrevClicked()">previous</button>
          <button *ngIf="shouldGoToNextStepBeDisplayed" class="btn btn-primary" (click)="onNextClicked()" [disabled]="isDisallowedToGoToNextStep">next</button>
          <button *ngIf="!shouldGoToNextStepBeDisplayed" class="btn btn-primary" [disabled]="isDisallowedToCreate" (click)="onCreateClicked()">create</button>
        </div>
      </div>
    </div>

    <app-spinner [spin]="isLoading" styles="h-8 w-8 fill-primary"></app-spinner>
  </div>
</div>
