<app-not-logged-in *ngIf="!authService.isLoggedIn"></app-not-logged-in>
<div *ngIf="authService.isLoggedIn">
  <h3 class="text-3xl text-center">votings where I participate</h3>
  <app-voting-list [votings]="votings" [isLoading]="isLoading"></app-voting-list>
  <app-pagination *ngIf="!isLoadingFirstTime && votings.length > 0" [totalPages]="totalPages"
                  [currentPage]="currentPage"
                  (onNextClicked)="onNextClicked()"
                  (onPrevClicked)="onPrevClicked()"></app-pagination>
</div>
