<div class="flex gap-2 text-info justify-center mt-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
       class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"/>
  </svg>
  <p class="text-center">
    your voting will be created on a public blockchain; choose the one you like
  </p>
</div>

<div class="flex justify-center mt-1">
  <div class="form-control w-full max-w-md">
    <select [(ngModel)]="selectedNetwork" class="select select-bordered w-full max-w-md" [class.select-error]="!isValid"
            [class.select-success]="isValid">
      <option>stellar</option>
    </select>
    <label *ngIf="!isValid" class="text-center">
      <span class="text-error">you must select a network</span>
    </label>
  </div>
</div>
