<label>Token id</label>
<div class="flex">
  <div class="grow">
    <input [(ngModel)]="tokenId" type="text" class="input w-full border-e-0 rounded-e-none"
           placeholder="token id" [class.input-error]="!isValid" [class.input-success]="isValid"/>
  </div>
  <div>
    <button class="btn rounded-s-none" (click)="onGenerateClicked()">generate</button>
  </div>
</div>

<div *ngIf="!isValid" class="text-error">
  Token id must consist of numbers and lowercase letters only, and must have length >=2 and <=8.
</div>
