<div class="flex justify-center">
  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Title & description</legend>

    <label class="fieldset-label">Title</label>
    <input [(ngModel)]="title" type="text" class="input validator w-full" minlength="2" maxlength="1000"
           placeholder="voting title" [class.input-error]="!isTitleValid" [class.input-success]="isTitleValid"/>
    <div *ngIf="!isTitleValid" class="text-error">Length must be >= 2 and <= 1000.</div>

    <label class="fieldset-label mt-2">Description</label>
    <textarea [(ngModel)]="description" class="textarea validator w-full" minlength="2" maxlength="1000"
              rows="10"
              placeholder="voting description" [class.input-error]="!isDescriptionValid"
              [class.input-success]="isDescriptionValid"></textarea>
    <div *ngIf="!isDescriptionValid" class="text-error">Length must be >= 2 and <= 1000.</div>
  </fieldset>
</div>
