<div class="flex justify-center">
  <div>
    <ul class="steps">
      <li [class.step-primary]="currentStep >= Step.BasicData" class="step">Basic data</li>
      <li [class.step-primary]="currentStep >= Step.TechnicalData" class="step">Technical data</li>
      <li [class.step-primary]="currentStep >= Step.Polls" class="step">Polls</li>
      <li [class.step-primary]="currentStep >= Step.Participants" class="step">Participants</li>
    </ul>
  </div>
</div>

<div>
  <app-create-voting-basic-data *ngIf="currentStep == Step.BasicData" [votingRequest]="votingRequest"
                                (isValidChange)="onBasicDataValid($event)"></app-create-voting-basic-data>
  <app-create-voting-technical-data *ngIf="currentStep == Step.TechnicalData" [votingRequest]="votingRequest"
                                    (isValidChange)="onTechnicalDataValid($event)"></app-create-voting-technical-data>
  <app-create-voting-polls *ngIf="currentStep == Step.Polls" [votingRequest]="votingRequest"
                           (isValidChange)="onPollsValid($event)"></app-create-voting-polls>
  <app-create-voting-participants *ngIf="currentStep == Step.Participants" [votingRequest]="votingRequest"
                                  (isValidChange)="onParticipantsValid($event)"></app-create-voting-participants>
</div>

<div class="flex justify-between mt-10">
  <div>
    <button (click)="onPreviousClicked()" [class.btn-disabled]="!isPreviousAvailable"
            [class.btn-active]="isPreviousAvailable" class="btn">Previous
    </button>
  </div>
  <div>
    <button *ngIf="!isCreateAvailable" (click)="onNextClicked()" [class.btn-disabled]="!isNextAvailable"
            [class.btn-active]="isNextAvailable"
            class="btn btn-primary">Next
    </button>
    <button *ngIf="isCreateAvailable" (click)="onCreateClicked()" class="btn btn-success btn-active"
            [class.btn-disabled]="isCreateDisabled" [class.btn-active]="!isCreateDisabled">Create
    </button>
  </div>
</div>
