<div class="drawer">
  <input id="drawer-main-menu" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content">

    <div class="navbar bg-base-100">
      <div class="flex-none">
        <label for="drawer-main-menu" class="btn btn-square btn-ghost drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>

      <div class="flex-1">
        <img src="assets/galactic-pub.svg" class="w-20 h-20 md:w-28 md:h-28"/>
      </div>

      <div>

      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
  <div class="drawer-side">
    <label for="drawer-main-menu" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="w-80 min-h-full bg-base-200">
      <ul class="menu text-base-content w-full p-4">
        <li>
          <label for="drawer-main-menu" [routerLink]="'home'" class="text-base">
            <img src="assets/icons/galactic-home-icon.svg" class="w-14" />
            home
          </label>
        </li>
        <li class="text-base">
          <details open>
            <summary>
              <img src="assets/icons/galactic-voting-icon.svg" class="w-14" />
              voting
            </summary>
            <ul>
              <li>voting home</li>
              <li>vote!</li>
              <li>my votings</li>
            </ul>
          </details>
        </li>
      </ul>

      <div class="absolute bottom-0 flex justify-center w-full">
        <div>
          <label for="drawer-main-menu" class="btn btn-ghost drawer-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
            </svg>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
