<div class="hero min-h-fit">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="assets/galactic-beer.svg"
      class="w-64 sm:w-72" />
    <div>
      <h1 class="text-5xl font-bold">Welcome to the pub!</h1>
      <p class="py-6">
        You'll find various experimental projects run in this place.
      </p>
    </div>
  </div>
</div>

<div class="hero min-h-fit">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="assets/galactic-ballot.svg"
      class="w-64 sm:w-72 rounded-lg" />
    <div>
      <h1 class="text-5xl font-bold">Voting</h1>
      <p class="py-6">
        Vote anonymously on the Stellar blockchain
      </p>
    </div>
  </div>
</div>
