<div class="flex justify-center">
  <fieldset class="fieldset w-xl bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Title & description</legend>

    <label class="fieldset-label">Title</label>
    <input type="text" class="input validator w-full" required minlength="2" maxlength="1000"
           placeholder="voting title"/>
    <div class="validator-hint">Length must be >= 2 and <= 1000.</div>

    <label class="fieldset-label">Description</label>
    <textarea class="textarea validator w-full" required minlength="2" maxlength="1000" rows="10"
              placeholder="voting description"></textarea>
    <div class="validator-hint">Length must be >= 2 and <= 1000.</div>
  </fieldset>
</div>

<div class="flex justify-center">
  <fieldset class="fieldset w-xl bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Limitations</legend>

    <label class="fieldset-label">Number of voters</label>
    <input type="number" class="input validator w-full" required min="2" max="500" placeholder="number of voters"/>
    <div class="validator-hint">Must be between 2 and 500.</div>

    <label class="fieldset-label">Visibility</label>
    <select [(ngModel)]="votingRequest.visibility" class="select w-full">
      <option [value]="VotingVisibility.Unlisted">Unlisted</option>
      <option [value]="VotingVisibility.Private">Private</option>
    </select>
    <span class="fieldset-label">{{ visibilityHint }}</span>

    <label class="fieldset-label mt-2">Ballot type</label>
    <select [(ngModel)]="votingRequest.ballotType" class="select w-full">
      <option [value]="BallotType.MultiPoll">Multiple polls</option>
      <option [value]="BallotType.MultiChoice">Multiple choices</option>
    </select>
    <span class="fieldset-label">{{ballotTypeHint}}</span>
  </fieldset>
</div>

<div class="flex justify-center">
  <fieldset class="fieldset w-xl bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Dates</legend>

    <label class="fieldset-label">Start date</label>
    <input type="datetime-local" class="input validator w-full" required/>
    <div class="validator-hint">TODO: start date validation</div>

    <label class="fieldset-label">End date</label>
    <input type="datetime-local" class="input validator w-full" required/>
    <div class="validator-hint">TODO: end date validation</div>

    <div class="flex flex-row gap-x-4">
      <div>
        <label class="fieldset-label">Encrypt voting</label>
        <label class="fieldset-label">
          <input type="checkbox" checked="checked" class="checkbox"/>
          Encrypt?
        </label>
      </div>
      <div class="grow">
        <label class="fieldset-label">Encrypt until</label>
        <input type="datetime-local" class="input validator w-full" required/>
        <div class="validator-hint">TODO: encrypt date validation</div>
      </div>
    </div>
  </fieldset>
</div>
