<div class="flex justify-center">
  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Title & description</legend>

    <label class="fieldset-label">Title</label>
    <input [(ngModel)]="title" type="text" class="input validator w-full" minlength="2" maxlength="1000"
           placeholder="voting title" [class.input-error]="!isTitleValid" [class.input-success]="isTitleValid"/>
    <div *ngIf="!isTitleValid" class="text-error">Length must be >= 2 and <= 1000.</div>

    <label class="fieldset-label mt-2">Description</label>
    <textarea [(ngModel)]="description" class="textarea validator w-full" minlength="2" maxlength="1000"
              rows="10"
              placeholder="voting description" [class.input-error]="!isDescriptionValid"
              [class.input-success]="isDescriptionValid"></textarea>
    <div *ngIf="!isDescriptionValid" class="text-error">Length must be >= 2 and <= 1000.</div>
  </fieldset>
</div>

<div class="flex justify-center">
  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Limitations</legend>

    <label class="fieldset-label">Number of voters</label>
    <input [(ngModel)]="maxVoters" type="number" class="input w-full" min="2" max="500"
           placeholder="number of voters" [class.input-error]="!isMaxVotersValid"
           [class.input-success]="isMaxVotersValid"/>
    <div *ngIf="!isMaxVotersValid" class="text-error">Must be between 2 and 500.</div>

    <label class="fieldset-label mt-2">Visibility</label>
    <select [(ngModel)]="votingRequest.visibility" class="select w-full">
      <option [value]="VotingVisibility.Unlisted">Unlisted</option>
      <option [value]="VotingVisibility.Private">Private</option>
    </select>
    <span class="fieldset-label">{{ visibilityHint }}</span>

    <label class="fieldset-label mt-2">Ballot type</label>
    <select [(ngModel)]="votingRequest.ballotType" class="select w-full">
      <option [value]="BallotType.MultiPoll">Multiple polls</option>
      <option [value]="BallotType.MultiChoice">Multiple choices</option>
    </select>
    <span class="fieldset-label">{{ ballotTypeHint }}</span>

    <label class="fieldset-label">Maximum choices</label>
    <input [(ngModel)]="maxChoices" type="number" class="input w-full" min="1" [max]="maxChoicesUpperLimit"
           placeholder="maximum choices" [class.input-error]="!isMaxChoicesValid"
           [class.input-success]="isMaxChoicesValid"/>
    <div *ngIf="!isMaxChoicesValid" class="text-error">{{maxChoicesValidationHint}}</div>
  </fieldset>
</div>

<div class="flex justify-center">
  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Dates</legend>

    <label class="fieldset-label">Start date</label>
    <input [(ngModel)]="startDate" type="datetime-local" class="input w-full" [class.input-error]="!isStartDateValid"
           [class.input-success]="isStartDateValid"/>
    <div *ngIf="!isStartDateValid" class="text-error">{{ startDateValidationHint }}</div>

    <label class="fieldset-label mt-2">End date</label>
    <input [(ngModel)]="endDate" type="datetime-local" class="input w-full" [class.input-error]="!isEndDateValid"
           [class.input-success]="isEndDateValid" required/>
    <div *ngIf="!isEndDateValid" class="text-error">{{ endDateValidationHint }}</div>

    <div class="flex flex-row gap-x-4 mt-2">
      <div>
        <label class="fieldset-label">Encrypt voting</label>
        <label class="fieldset-label">
          <input [(ngModel)]="shouldEncrypt" type="checkbox" checked="checked" class="checkbox"/>
          Encrypt?
        </label>
      </div>
      <div class="grow">
        <label class="fieldset-label">Encrypt until</label>
        <input [disabled]="!shouldEncrypt" [(ngModel)]="encryptedUntil" type="datetime-local"
               class="input w-full" [class.input-error]="shouldEncrypt && !isEncryptedUntilValid"
               [class.input-success]="shouldEncrypt && isEncryptedUntilValid"/>
        <div *ngIf="shouldEncrypt && !isEncryptedUntilValid" class="text-error">Encrypted until must be in the future.
        </div>
      </div>
    </div>
  </fieldset>
</div>
