<div class="w-full">
  <article class="prose">
    <h3>Make your choice!</h3>
    <div *ngFor="let poll of voting.polls">
      <h4>{{ poll.question }}</h4>
      <p>{{ poll.description }}</p>
      <div *ngIf="voting.ballotType == BallotType.MultiPoll">
        <app-multi-poll [poll]="poll" (choiceChanged)="onSingleChoiceChange(poll.index, $event)"></app-multi-poll>
      </div>
      <div *ngIf="voting.ballotType == BallotType.MultiChoice">
        <app-multi-choice [poll]="poll" (choicesChanged)="onMultipleChoicesChanged(poll.index, $event)"></app-multi-choice>
      </div>
    </div>
  </article>

  <div class="flex justify-center w-full">
    <div>
      <button class="btn btn-success">VOTE!</button>
    </div>
  </div>

</div>
