<app-login-required text="login is required to create voting"></app-login-required>

<div *ngIf="auth.isAuthenticated$ | async" class="px-3">
  <div class="relative">
    <div *ngIf="!isLoading">

      <h2 class="text-3xl">Polls</h2>
      <div>

      </div>

      <h2 class="text-3xl">Technical data</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        <div>
          <app-view-voting-network-data [voting]="voting"></app-view-voting-network-data>
        </div>
        <div>
          <app-view-voting-dates [voting]="voting"></app-view-voting-dates>
        </div>
      </div>

    </div>

    <app-spinner [spin]="isLoading" styles="h-8 w-8 fill-primary"></app-spinner>
  </div>

</div>

