<div class="form-control w-full">
  <label class="label">
    <span class="label-text">title</span>
  </label>
  <input type="text" placeholder="title" class="input input-bordered w-full"
         [(ngModel)]="form.title"
         [class.input-error]="!form.validation.isTitleValid"
         [class.input-success]="form.validation.isTitleValid"
  />
  <label *ngIf="!form.validation.isTitleValid" class="label">
    <span class="label-text text-error">Title must have length > 1.</span>
  </label>
</div>
