<div class="flex justify-center">
  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Ballot type</legend>
    <select [(ngModel)]="votingRequest.ballotType" (ngModelChange)="onBallotTypeChange()" class="select w-full"
            [class.input-error]="isBallotInvalid">
      <option [value]="BallotType.MultiPoll">multiple polls</option>
      <option [value]="BallotType.MultiChoice">multiple choices</option>
    </select>

    <label class="fieldset-label">Maximum choices</label>
    <input [(ngModel)]="maxChoices" type="number" class="input w-full" min="1" [max]="maxChoicesUpperLimit"
           placeholder="maximum choices" [class.input-error]="!isMaxChoicesValid"
           [class.input-success]="isMaxChoicesValid"/>
    <div *ngIf="!isMaxChoicesValid" class="text-error">{{validationHint}}</div>

    <span class="fieldset-label">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"/>
        </svg>
      </div>

      <div>
        <ng-container *ngIf="votingRequest.ballotType == BallotType.MultiPoll">
          Multiple poll, with one choice per poll.
        </ng-container>

        <ng-container *ngIf="votingRequest.ballotType == BallotType.MultiChoice">
          One poll with multiple possible choices.
        </ng-container>
      </div>
    </span>

    <span *ngIf="isBallotInvalid" class="fieldset-label text-error">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"/>
        </svg>
      </div>

      <div>
        Multi-choice must have exactly one poll. Please delete questions.
      </div>
    </span>
  </fieldset>
</div>

<button class="btn btn-primary mt-3" (click)="onAddQuestionClicked()">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
       class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
  </svg>
  add a question
</button>

<div *ngIf="votingRequest.polls.length < 1" class="text-error mt-2">Must have at least 1 question.</div>

<app-create-voting-question *ngFor="let poll of votingRequest.polls; index as i" [index]="i" [pollRequest]="poll"
                            (allValidChange)="onPollValid($event)"
                            (deleted)="onQuestionDelete($event)"></app-create-voting-question>
