<fieldset class="flex flex-wrap gap-2 fieldset w-full bg-base-200 border border-base-300 p-2 rounded-box">
  <legend class="fieldset-legend">Participants</legend>

  <button *ngFor="let participant of participants; index as i" type="button" class="btn btn-sm btn-soft">
    {{ participant }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="size-4" (click)="onDelete(i)">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
  </button>

  <div class="flex grow gap-x-2">
    <input type="text" class="input input-sm grow" placeholder="enter an email address" [(ngModel)]="emailInput"
           [disabled]="isMaxVotersReached"
           [class.input-error]="!isEmailValid || isMaxVotersReached"
           [class.input-success]="isEmailValid && !isMaxVotersReached"
           (keydown.enter)="onAddEvent()"/>
    <button class="btn btn-sm btn-primary join-item" [disabled]="!isEmailValid" (click)="onAddEvent()">add</button>
  </div>
</fieldset>
<div *ngIf="isMaxVotersReached" class="text-error">Cannot add more voters, already at full capacity
  ({{ votingRequest.maxVoters }})!
</div>
<div *ngIf="!isMaxVotersReached" class="fieldset-label">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor"
         class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"/>
    </svg>
  </div>

  <div>
    You can still add {{ votingRequest.maxVoters - participants.length }} voter(s).
  </div>
</div>
